# Hera configuration file (shell file format) of the PaGoDA platform

### Kubernetes layer
# The k8s cluster configuration file
KUBECONFIG=<absolute-path-to>/some-rke-file.yaml
# The optionnal configuration map as set by the k8s admin (usefull to provide
# cluster specific configuration elements like the HTTP_PROXY)
KUBECONFIGMAP='<some-configuration-map-on-your-cluster>'
KUBEVOLUMECLAIMNAME='<some-volume-claim-name>'

### ArgoWorkflow server and associated credentials
ARGO_SERVER='argowf.my-domain.org:443' 
ARGO_NAMESPACE='argo'
ARGO_SERVICE_ACCOUNT='argo-user'
