export ARGO_SERVER='argoworkflows.pagoda.os.univ-lyon1.fr:443' 
export ARGO_HTTP1=true  
export ARGO_SECURE=true
export ARGO_BASE_HREF=
export ARGO_TOKEN=<your-access-token-here>
export ARGO_NAMESPACE=argo     # or whatever your namespace might be

export KUBECONFIG=./pagoda_kubeconfig.yaml ;# recommended
export KUBE_DOCKER_REGISTRY=dockerRegistryHost=harbor.pagoda.os.univ-lyon1.fr/
